
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Musteriler</title>
</head>
<body>
    <a href="/Default/Index" class="btn btn-dark">Ana Sayfa</a>
    <a href="/Default/Urunler">Ürünler Sayfası</a>
    <a href="/Default/Sehirler">Şehirler</a>

    <h3>Kullanıcı Adı. @ViewBag.kAdi</h3>

    <h1>Müşteriler Sayfası</h1>
    <hr />
    <h3>Cümle: @ViewBag.cm</h3>


</body>
</html>
