@{
    ViewData["Title"] = "Home Page";
}
<a href="/Default/Index" class="btn btn-dark">İndex Sayfası</a>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


